  <!-- Footer -->




    <div class="container">

        <div class="row ">

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card black-bgcolor text-white">
                    <div class="card-body">
                        <h4 class="card-title">Catégories</h4>
                        <hr class="bgcouleur-rouge">
                        <div class="card-text">
                            <ul class="list-unstyled">
                                <li class=""><a class="text-white" href="#">Informatique / TIC</a></li>
                                <li class=""><a class="text-white" href="#">Sciences humaines</a></li>
                                <li class=""><a class="text-white" href="#">Recherche scientifique</a></li>
                                <li class=""><a class="text-white" href="#">Economique / Gestion / Droit</a></li>
                                <li class=""><a class="text-white" href="#">Formation / Education</a></li>
                                <li class=""><a class="text-white" href="#">Science de la médecine</a></li>
                                <li class=""><a class="text-white" href="#">université de Monastir</a></li>
                                <li class=""><a class="text-white" href="#">université de Sfax</a></li>
                                <li class=""><a class="text-white" href="#">Technique / Industrie / Mécanique</a></li>
                                <li class=""><a class="text-white" href="#">Coopération Internationale</a></li>
                                <li class=""><a class="text-white" href="#">Physique / Chimie / Mathématique</a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card black-bgcolor text-white">
                    <div class="card-body">
                        <h4 class="card-title">Menu</h4>
                        <hr class="bgcouleur-rouge">
                        <p class="card-text">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="text-white" href="#">Recherche avancée</a></li>
                                <li class="nav-item"><a class="text-white" href="#">A propos</a></li>
                                <li class="nav-item"><a class="text-white" href="#">Événements</a></li>
                                <li class="nav-item"><a class="text-white" href="#">Se connecter</a></li>
                                <li class="nav-item"><a class="text-white" href="#">Créer un événement</a></li>

                            </ul>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card black-bgcolor text-white">
                    <div class="card-body">
                        <h4 class="card-title">Contacter nous</h4>
                        <hr class="bgcouleur-rouge">
                        <p class="card-text">
                            <div class="row  mb-3">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    Adresse :
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    Campus Universitaire de la manouba <br>2010, Tunisie
                                </div>
                            </div>

                            <div class="row  mb-3">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    Téléphone :
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    Fax :
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    (216) 70 241 900
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    (216) 71 601 930
                                </div>
                            </div>

                            <div class="row  mb-3">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    E-mail :
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    info@cck.rnu.tn
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    Contactez nous sur :
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">


                                    <!--Twitter-->
                                    <a class="tw-ic mr-3" role="button" href="#"><i class="fa fa-lg fa-twitter"></i></a>
                                    <!--Google +-->
                                    <a class="gplus-ic mr-3" role="button" href="#"><i class="fa fa-lg fa-google-plus-g"></i></a>
                                    <!--Facebook-->
                                    <a class="fb-ic mr-3" role="button" href="#"><i class="fa fa-lg fa-facebook-f"></i></a>

                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

        </div>



        <p class="m-0 text-left text-white">Copyright &copy; 2019 Portail Annonces</p>
    </div>
    <!-- /.container -->
