
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class=" pl-0 navbar navbar-expand-lg navbar-light bg-light fixed-top mt-5">
    <div class="container-fluid top-add mb-4">
        <div class="row">
           
            <img src="~/Content/pics/tn.png" style="height: 48px" />
            <div class="col">
                <span style="font-size: 15px; color: #fff">Ministère de l'Enseignements Supérieur et de la Recherche Scientifique-</span><br><span style="font-size: 10px; color: #da2028">CENTRE DE CALCUL EL-KHAWARIZMI</span>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="navbar-brand" href="./">  <img src="~/Content/pics/logo_portail_annonces.png" alt="Portail Annonces" class="logo_principale" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Event")">Événements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Create","Event")" style="color: #0090d0;">Créer un événement</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("login","User")">Se connecter</a>
                </li>
               
            </ul>

        </div>
    </div>
</nav>