
<html>
<head>
  



</head>

<body>


   <header>
            @Html.Partial("Header")

      </header>


  
            @RenderBody()

      


    <footer>
   
            @Html.Partial("Footer")

       </footer>

 
</body>

</html>
