

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>forgotPassword</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
    @using (Html.BeginForm("recoverPassword","User"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal container">
            <h4>User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">
                    Votre mail ou numéro
                </label>
               
                <div class="col-md-8">
                   
                    <input type="text" class="form-control" name="credentials"/>
                </div>
            </div>

            


            <div class="form-group">

                <div class="col-md-10">
                    @ViewBag.ErrorMessage
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="search" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


</body>
</html>
