@model IEnumerable<Model.Logs>

@{
    Layout = "~/Views/Shared/Adminator.cshtml";
}


<body>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admin.nameAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.events.EventTitle)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin.nameAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.events.EventTitle)
            </td>
            
        </tr>
    }
    
    </table>
</body>

