@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
}
<html>
<head>
<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class=" row full_window one">
            <div class="col-12">
                <div class="container">
                    <div class="col">
                        <h4 class="rubrique-title">A propos de nous</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>