@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
}
<html>
<head>
<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class=" row full_window one">
            <div class="col-12">
                <div class="container">
                    <div class="col">
                       
                        <div class="col-5">
                            <h3 class="rubrique-title">A propos</h3>
                            <h5 style="margin-top:40px;">
                                Le CCK diffuse régulièrement des annonces portant
                                sur des thèmes scientifiques et techniques destinées
                                à tous les utilisateurs du Réseau National Universitaire
                                et de recherche scientifique.
                                L’objectif est de Maintenir une veille scientifique auprès
                                de nos utilisateurs.
                                La diffusion personnalisée de l’information est une activité
                                très sollicitée, chaque manifestation scientifique est diffusée
                                aux abonnés du RNU.
                                Il arrive que  certaines manifestations soient destinées
                                essentiellement à une certaine catégorie d’abonnés,
                                à ce titre le CCK personnalise cette activité en assurant une
                                large diffusion auprès d’un segment d’abonnés.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>