

.box{
	position:relative;
	width:360px;
	height:360px;
	background:white;
	
	margin:50px;
	box-sizing:border-box;
	border-radius:10px;   
	border:1px solid #ccc;
	transition:1s;
   
}

.box:hover{
	transform:scale(1.1);
	background:#FAFAFA;
	box-shadow:2px 2px 2px 0px;
}

.box img{
	width:360px;
	height:240px;

}
.desc{
    height:50;
	padding:15px;
	text-align:left;
	margin-left:70px;
}

.desc a{
	color:black;
	text-decoration:none;
}
    .desc span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
        font-size:1.25rem;
        font-weight:bold;

    }

.date {
    padding: 8px;
    text-align: left center;
    margin-top: -50px;
}
.juin{
	color:red;
}
.num{
    margin-top:-5%;
	 margin-left:8px;
}
.box ul {
    display: flex;
    position: absolute;
    top: 69%;
    left: 70%;
    transform: translate(-50%,-50%);
}

 ul.some li {
    list-style: none;
}

ul.some li a {
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    margin: 0 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
}

ul.some li a .fa {
    position: relative;
    color: #262626;
    transition: .5s;
    width: 30px;
    height: 30px;
    backface-visibility: hidden;
}





ul.some li a:hover {
        background: #FAFAFA;
        box-shadow: 2px 2px 2px 0px;
    }




